Practical 5: Dataset Preprocessing (Student.csv)
Unit: II | Hours: 2

Objectives:
- Load dataset using read_csv
- Explore data (data types, structure, missing values, basic statistics)
- Handle missing values using fillna
- Encode categorical data (convert Gender to numeric)
- Perform Feature Subset Selection

Dataset (Student.csv):
| Name    | Age | Gender | Hours Studied | Marks | Passed |
|---------|-----|--------|---------------|-------|--------|
| Alice   | 20  | F      | 5             | 80    | Yes    |
| Bob     | 21  | M      | 3             | 50    | No     |
| Charlie | 22  | M      | 4             | 60    | Yes    |
| Diana   | 20  | F      | 2             | 40    | No     |
| Eve     | 23  | F      | 6             | 90    | Yes    |

In [44]:
import pandas as pd 
import os

In [95]:
df = pd.read_csv("prac_5_student.csv")
df = pd.DataFrame(df)

In [92]:
df.isna()

    Name    Age  Gender  Hours  Studied  MarksPassed
0  False  False   False  False    False        False
1  False  False   False  False    False        False
2  False  False   False  False    False        False
3  False  False   False  False    False        False
4  False  False   False  False    False        False

In [ ]:
df
# df['gender_encoded'] =  df["Gender"].map({"M": "1", "F": "0"})
# # df.columns
# df

for i in  df['Gender']:
    print(i)
    print(len(i))

    df['encoded_gender'] = 0
    # if i == "M": df['encoded_gender'] = 0
    # if i == "F": df['encoded_gender'] = 1
    df["encoded_gender"]

F
1
M
1
M
1
F
1
F
1

In [94]:
df

      Name  Age Gender  Hours  Studied MarksPassed  encoded_gender
0    Alice   20      F      5       80         Yes               1
1      Bob   21      M      3       50          No               1
2  Charlie   22      M      4       60         Yes               1
3    Diana   20      F      2       40          No               1
4      Eve   23      F      6       90         Yes               1